In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('C:/Users/fredd/Data Visualization/football-analytics/Football Analytics Course/Data Analysis/big5.csv')

In [4]:
df.head()

,Unnamed: 0,Unnamed: 0_level_0,Unnamed: 1_level_0,Unnamed: 2_level_0,Unnamed: 3_level_0,Unnamed: 4_level_0,Unnamed: 5_level_0,Unnamed: 6_level_0,Unnamed: 7_level_0,Playing Time,...,Per 90 Minutes.1,Per 90 Minutes.2,Per 90 Minutes.3,Per 90 Minutes.4,Per 90 Minutes.5,Per 90 Minutes.6,Per 90 Minutes.7,Per 90 Minutes.8,Per 90 Minutes.9,Unnamed: 37_level_0
0,NaN,Rk,Player,Nation,Pos,Squad,Comp,Age,Born,MP,...,Ast,G+A,G-PK,G+A-PK,xG,xAG,xG+xAG,npxG,npxG+xAG,Matches
1,0.0,1,Brenden Aaronson,us USA,"MF,FW",Leeds United,eng Premier League,21,2000,36,...,0.11,0.15,0.04,0.15,0.15,0.16,0.31,0.15,0.31,Matches
2,1.0,2,Paxten Aaronson,us USA,"MF,DF",Eint Frankfurt,de Bundesliga,18,2003,7,...,0.00,0.00,0.00,0.00,0.09,0.03,0.11,0.09,0.11,Matches
3,2.0,3,James Abankwah,ie IRL,DF,Udinese,it Serie A,18,2004,2,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,Matches
4,3.0,4,George Abbott,eng ENG,MF,Tottenham,eng Premier League,16,2005,1,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,Matches

In [5]:
df.tail()

,Unnamed: 0,Unnamed: 0_level_0,Unnamed: 1_level_0,Unnamed: 2_level_0,Unnamed: 3_level_0,Unnamed: 4_level_0,Unnamed: 5_level_0,Unnamed: 6_level_0,Unnamed: 7_level_0,Playing Time,...,Per 90 Minutes.1,Per 90 Minutes.2,Per 90 Minutes.3,Per 90 Minutes.4,Per 90 Minutes.5,Per 90 Minutes.6,Per 90 Minutes.7,Per 90 Minutes.8,Per 90 Minutes.9,Unnamed: 37_level_0
3000,2999.0,2885,Martin Ødegaard,no NOR,MF,Arsenal,eng Premier League,23,1998,37,...,0.20,0.63,0.43,0.63,0.29,0.23,0.52,0.29,0.52,Matches
3001,3000.0,2886,Milan Đurić,ba BIH,FW,Hellas Verona,it Serie A,32,1990,28,...,0.07,0.13,0.07,0.13,0.09,0.08,0.18,0.09,0.18,Matches
3002,3001.0,2887,Filip Đuričić,rs SRB,"MF,FW",Sampdoria,it Serie A,30,1992,32,...,0.00,0.12,0.12,0.12,0.11,0.08,0.19,0.11,0.19,Matches
3003,3002.0,2888,Blanco,NaN,MF,Cádiz,es La Liga,22,2000,3,...,0.00,0.00,0.00,0.00,NaN,NaN,NaN,NaN,NaN,Matches
3004,3003.0,2889,Hugo Guillamón,NaN,"DF,MF",Valencia,es La Liga,22,2000,25,...,0.22,0.28,0.00,0.22,NaN,NaN,NaN,NaN,NaN,Matches

In [6]:
#view no. of rows and columns
df.shape

(3005, 39)

In [7]:
df.columns

Index(['Unnamed: 0', 'Unnamed: 0_level_0', 'Unnamed: 1_level_0',
       'Unnamed: 2_level_0', 'Unnamed: 3_level_0', 'Unnamed: 4_level_0',
       'Unnamed: 5_level_0', 'Unnamed: 6_level_0', 'Unnamed: 7_level_0',
       'Playing Time', 'Playing Time.1', 'Playing Time.2', 'Playing Time.3',
       'Performance', 'Performance.1', 'Performance.2', 'Performance.3',
       'Performance.4', 'Performance.5', 'Performance.6', 'Performance.7',
       'Expected', 'Expected.1', 'Expected.2', 'Expected.3', 'Progression',
       'Progression.1', 'Progression.2', 'Per 90 Minutes', 'Per 90 Minutes.1',
       'Per 90 Minutes.2', 'Per 90 Minutes.3', 'Per 90 Minutes.4',
       'Per 90 Minutes.5', 'Per 90 Minutes.6', 'Per 90 Minutes.7',
       'Per 90 Minutes.8', 'Per 90 Minutes.9', 'Unnamed: 37_level_0'],
      dtype='object')

In [8]:
#see datatypes of rows and columns
df.dtypes

Unnamed: 0             float64
Unnamed: 0_level_0      object
Unnamed: 1_level_0      object
Unnamed: 2_level_0      object
Unnamed: 3_level_0      object
Unnamed: 4_level_0      object
Unnamed: 5_level_0      object
Unnamed: 6_level_0      object
Unnamed: 7_level_0      object
Playing Time            object
Playing Time.1          object
Playing Time.2          object
Playing Time.3          object
Performance             object
Performance.1           object
Performance.2           object
Performance.3           object
Performance.4           object
Performance.5           object
Performance.6           object
Performance.7           object
Expected                object
Expected.1              object
Expected.2              object
Expected.3              object
Progression             object
Progression.1           object
Progression.2           object
Per 90 Minutes          object
Per 90 Minutes.1        object
Per 90 Minutes.2        object
Per 90 Minutes.3        object
Per 90 Minutes.4        object
Per 90 Minutes.5        object
Per 90 Minutes.6        object
Per 90 Minutes.7        object
Per 90 Minutes.8        object
Per 90 Minutes.9        object
Unnamed: 37_level_0     object
dtype: object

In [9]:
#view numerical info
df.describe()

       Unnamed: 0
count  3004.00000
mean   1501.50000
std     867.32443
min       0.00000
25%     750.75000
50%    1501.50000
75%    2252.25000
max    3003.00000

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3005 entries, 0 to 3004
Data columns (total 39 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           3004 non-null   float64
 1   Unnamed: 0_level_0   3005 non-null   object
 2   Unnamed: 1_level_0   3005 non-null   object
 3   Unnamed: 2_level_0   3003 non-null   object
 4   Unnamed: 3_level_0   3005 non-null   object
 5   Unnamed: 4_level_0   3005 non-null   object
 6   Unnamed: 5_level_0   3005 non-null   object
 7   Unnamed: 6_level_0   3005 non-null   object
 8   Unnamed: 7_level_0   3005 non-null   object
 9   Playing Time         3005 non-null   object
 10  Playing Time.1       3005 non-null   object
 11  Playing Time.2       3005 non-null   object
 12  Playing Time.3       3005 non-null   object
 13  Performance          3005 non-null   object
 14  Performance.1        3005 non-null   object
 15  Performance.2        3005 non-null   object
 16  Performance.3        3005 non-null   object
 17  Performance.4        3005 non-null   object
 18  Performance.5        3005 non-null   object
 19  Performance.6        3005 non-null   object
 20  Performance.7        3005 non-null   object
 21  Expected             3002 non-null   object
 22  Expected.1           3002 non-null   object
 23  Expected.2           3002 non-null   object
 24  Expected.3           3002 non-null   object
 25  Progression          3002 non-null   object
 26  Progression.1        3002 non-null   object
 27  Progression.2        3002 non-null   object
 28  Per 90 Minutes       3005 non-null   object
 29  Per 90 Minutes.1     3005 non-null   object
 30  Per 90 Minutes.2     3005 non-null   object
 31  Per 90 Minutes.3     3005 non-null   object
 32  Per 90 Minutes.4     3005 non-null   object
 33  Per 90 Minutes.5     3002 non-null   object
 34  Per 90 Minutes.6     3002 non-null   object
 35  Per 90 Minutes.7     3002 non-null   object
 36  Per 90 Minutes.8     3002 non-null   object
 37  Per 90 Minutes.9     3002 non-null   object
 38  Unnamed: 37_level_0  3005 non-null   object
dtypes: float64(1), object(38)
memory usage: 915.7+ KB

In [11]:
df.isnull() #returns true or false for every datapoint

,Unnamed: 0,Unnamed: 0_level_0,Unnamed: 1_level_0,Unnamed: 2_level_0,Unnamed: 3_level_0,Unnamed: 4_level_0,Unnamed: 5_level_0,Unnamed: 6_level_0,Unnamed: 7_level_0,Playing Time,...,Per 90 Minutes.1,Per 90 Minutes.2,Per 90 Minutes.3,Per 90 Minutes.4,Per 90 Minutes.5,Per 90 Minutes.6,Per 90 Minutes.7,Per 90 Minutes.8,Per 90 Minutes.9,Unnamed: 37_level_0
0,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3000,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3001,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3002,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3003,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,True,True,True,True,True,False
3004,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,True,True,True,True,True,False

In [12]:
df.isnull().sum() #returns the number of null values in each column

Unnamed: 0             1
Unnamed: 0_level_0     0
Unnamed: 1_level_0     0
Unnamed: 2_level_0     2
Unnamed: 3_level_0     0
Unnamed: 4_level_0     0
Unnamed: 5_level_0     0
Unnamed: 6_level_0     0
Unnamed: 7_level_0     0
Playing Time           0
Playing Time.1         0
Playing Time.2         0
Playing Time.3         0
Performance            0
Performance.1          0
Performance.2          0
Performance.3          0
Performance.4          0
Performance.5          0
Performance.6          0
Performance.7          0
Expected               3
Expected.1             3
Expected.2             3
Expected.3             3
Progression            3
Progression.1          3
Progression.2          3
Per 90 Minutes         0
Per 90 Minutes.1       0
Per 90 Minutes.2       0
Per 90 Minutes.3       0
Per 90 Minutes.4       0
Per 90 Minutes.5       3
Per 90 Minutes.6       3
Per 90 Minutes.7       3
Per 90 Minutes.8       3
Per 90 Minutes.9       3
Unnamed: 37_level_0    0
dtype: int64

In [13]:
df.head()

,Unnamed: 0,Unnamed: 0_level_0,Unnamed: 1_level_0,Unnamed: 2_level_0,Unnamed: 3_level_0,Unnamed: 4_level_0,Unnamed: 5_level_0,Unnamed: 6_level_0,Unnamed: 7_level_0,Playing Time,...,Per 90 Minutes.1,Per 90 Minutes.2,Per 90 Minutes.3,Per 90 Minutes.4,Per 90 Minutes.5,Per 90 Minutes.6,Per 90 Minutes.7,Per 90 Minutes.8,Per 90 Minutes.9,Unnamed: 37_level_0
0,NaN,Rk,Player,Nation,Pos,Squad,Comp,Age,Born,MP,...,Ast,G+A,G-PK,G+A-PK,xG,xAG,xG+xAG,npxG,npxG+xAG,Matches
1,0.0,1,Brenden Aaronson,us USA,"MF,FW",Leeds United,eng Premier League,21,2000,36,...,0.11,0.15,0.04,0.15,0.15,0.16,0.31,0.15,0.31,Matches
2,1.0,2,Paxten Aaronson,us USA,"MF,DF",Eint Frankfurt,de Bundesliga,18,2003,7,...,0.00,0.00,0.00,0.00,0.09,0.03,0.11,0.09,0.11,Matches
3,2.0,3,James Abankwah,ie IRL,DF,Udinese,it Serie A,18,2004,2,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,Matches
4,3.0,4,George Abbott,eng ENG,MF,Tottenham,eng Premier League,16,2005,1,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,Matches

In [14]:
df = df.drop(['Unnamed: 0'], axis=1) #axis=1 is for columns and axis=0 is for rows

In [21]:
df.head()

,Unnamed: 0_level_0 Rk,Player,Unnamed: 2_level_0 Nation,Unnamed: 3_level_0 Pos,Unnamed: 4_level_0 Squad,Unnamed: 5_level_0 Comp,Unnamed: 6_level_0 Age,Unnamed: 7_level_0 Born,Playing Time MP,Playing Time.1 Starts,...,Per 90 Minutes.1 Ast,Per 90 Minutes.2 G+A,Per 90 Minutes.3 G-PK,Per 90 Minutes.4 G+A-PK,Per 90 Minutes.5 xG,Per 90 Minutes.6 xAG,Per 90 Minutes.7 xG+xAG,Per 90 Minutes.8 npxG,Per 90 Minutes.9 npxG+xAG,Unnamed: 37_level_0 Matches
1,1,Brenden Aaronson,us USA,"MF,FW",Leeds United,eng Premier League,21,2000,36,28,...,0.11,0.15,0.04,0.15,0.15,0.16,0.31,0.15,0.31,Matches
2,2,Paxten Aaronson,us USA,"MF,DF",Eint Frankfurt,de Bundesliga,18,2003,7,0,...,0.00,0.00,0.00,0.00,0.09,0.03,0.11,0.09,0.11,Matches
3,3,James Abankwah,ie IRL,DF,Udinese,it Serie A,18,2004,2,1,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,Matches
4,4,George Abbott,eng ENG,MF,Tottenham,eng Premier League,16,2005,1,0,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,Matches
5,5,Yunis Abdelhamid,ma MAR,DF,Reims,fr Ligue 1,34,1987,37,37,...,0.05,0.08,0.03,0.08,0.06,0.03,0.09,0.06,0.09,Matches

In [16]:
df.columns = df.columns + ' ' + df.iloc[0] #move rows at index 0 up

In [18]:
df = df.drop(0) #drops row 0

In [20]:
df = df.rename(columns={'Unnamed: 1_level_0 Player' : 'Player'}) #rename column

In [22]:
df = df.rename(columns=lambda x: x.split(' ')[-1] if 'Unnamed' in x else x)

In [25]:
df.head()

,Rk,Player,Nation,Pos,Squad,Comp,Age,Born,Playing Time MP,Playing Time.1 Starts,...,Per 90 Minutes.1 Ast,Per 90 Minutes.2 G+A,Per 90 Minutes.3 G-PK,Per 90 Minutes.4 G+A-PK,Per 90 Minutes.5 xG,Per 90 Minutes.6 xAG,Per 90 Minutes.7 xG+xAG,Per 90 Minutes.8 npxG,Per 90 Minutes.9 npxG+xAG,Matches
0,1,Brenden Aaronson,us USA,"MF,FW",Leeds United,eng Premier League,21,2000,36,28,...,0.11,0.15,0.04,0.15,0.15,0.16,0.31,0.15,0.31,Matches
1,2,Paxten Aaronson,us USA,"MF,DF",Eint Frankfurt,de Bundesliga,18,2003,7,0,...,0.00,0.00,0.00,0.00,0.09,0.03,0.11,0.09,0.11,Matches
2,3,James Abankwah,ie IRL,DF,Udinese,it Serie A,18,2004,2,1,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,Matches
3,4,George Abbott,eng ENG,MF,Tottenham,eng Premier League,16,2005,1,0,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,Matches
4,5,Yunis Abdelhamid,ma MAR,DF,Reims,fr Ligue 1,34,1987,37,37,...,0.05,0.08,0.03,0.08,0.06,0.03,0.09,0.06,0.09,Matches

In [26]:
#reset the index
df.reset_index(drop=True)

,Rk,Player,Nation,Pos,Squad,Comp,Age,Born,Playing Time MP,Playing Time.1 Starts,...,Per 90 Minutes.1 Ast,Per 90 Minutes.2 G+A,Per 90 Minutes.3 G-PK,Per 90 Minutes.4 G+A-PK,Per 90 Minutes.5 xG,Per 90 Minutes.6 xAG,Per 90 Minutes.7 xG+xAG,Per 90 Minutes.8 npxG,Per 90 Minutes.9 npxG+xAG,Matches
0,1,Brenden Aaronson,us USA,"MF,FW",Leeds United,eng Premier League,21,2000,36,28,...,0.11,0.15,0.04,0.15,0.15,0.16,0.31,0.15,0.31,Matches
1,2,Paxten Aaronson,us USA,"MF,DF",Eint Frankfurt,de Bundesliga,18,2003,7,0,...,0.00,0.00,0.00,0.00,0.09,0.03,0.11,0.09,0.11,Matches
2,3,James Abankwah,ie IRL,DF,Udinese,it Serie A,18,2004,2,1,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,Matches
3,4,George Abbott,eng ENG,MF,Tottenham,eng Premier League,16,2005,1,0,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,Matches
4,5,Yunis Abdelhamid,ma MAR,DF,Reims,fr Ligue 1,34,1987,37,37,...,0.05,0.08,0.03,0.08,0.06,0.03,0.09,0.06,0.09,Matches
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2999,2885,Martin Ødegaard,no NOR,MF,Arsenal,eng Premier League,23,1998,37,37,...,0.20,0.63,0.43,0.63,0.29,0.23,0.52,0.29,0.52,Matches
3000,2886,Milan Đurić,ba BIH,FW,Hellas Verona,it Serie A,32,1990,28,14,...,0.07,0.13,0.07,0.13,0.09,0.08,0.18,0.09,0.18,Matches
3001,2887,Filip Đuričić,rs SRB,"MF,FW",Sampdoria,it Serie A,30,1992,32,27,...,0.00,0.12,0.12,0.12,0.11,0.08,0.19,0.11,0.19,Matches
3002,2888,Blanco,NaN,MF,Cádiz,es La Liga,22,2000,3,2,...,0.00,0.00,0.00,0.00,NaN,NaN,NaN,NaN,NaN,Matches
3003,2889,Hugo Guillamón,NaN,"DF,MF",Valencia,es La Liga,22,2000,25,19,...,0.22,0.28,0.00,0.22,NaN,NaN,NaN,NaN,NaN,Matches

In [27]:
df.loc[0:5, 'Player':'Comp'] #get specific parts of table

             Player   Nation    Pos           Squad                Comp
0  Brenden Aaronson   us USA  MF,FW    Leeds United  eng Premier League
1   Paxten Aaronson   us USA  MF,DF  Eint Frankfurt       de Bundesliga
2    James Abankwah   ie IRL     DF         Udinese          it Serie A
3     George Abbott  eng ENG     MF       Tottenham  eng Premier League
4  Yunis Abdelhamid   ma MAR     DF           Reims          fr Ligue 1
5     Himad Abdelli   dz ALG  MF,FW          Angers          fr Ligue 1

In [28]:
df.iloc[0:5, 0:5]

  Rk            Player   Nation    Pos           Squad
0  1  Brenden Aaronson   us USA  MF,FW    Leeds United
1  2   Paxten Aaronson   us USA  MF,DF  Eint Frankfurt
2  3    James Abankwah   ie IRL     DF         Udinese
3  4     George Abbott  eng ENG     MF       Tottenham
4  5  Yunis Abdelhamid   ma MAR     DF           Reims

In [29]:
#filter a dataframe
prem = df[df['Comp'] == 'eng Premier League']
prem.head()

,Rk,Player,Nation,Pos,Squad,Comp,Age,Born,Playing Time MP,Playing Time.1 Starts,...,Per 90 Minutes.1 Ast,Per 90 Minutes.2 G+A,Per 90 Minutes.3 G-PK,Per 90 Minutes.4 G+A-PK,Per 90 Minutes.5 xG,Per 90 Minutes.6 xAG,Per 90 Minutes.7 xG+xAG,Per 90 Minutes.8 npxG,Per 90 Minutes.9 npxG+xAG,Matches
0,1,Brenden Aaronson,us USA,"MF,FW",Leeds United,eng Premier League,21,2000,36,28,...,0.11,0.15,0.04,0.15,0.15,0.16,0.31,0.15,0.31,Matches
3,4,George Abbott,eng ENG,MF,Tottenham,eng Premier League,16,2005,1,0,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,Matches
19,20,Che Adams,sct SCO,FW,Southampton,eng Premier League,26,1996,28,23,...,0.14,0.36,0.23,0.36,0.30,0.13,0.42,0.30,0.42,Matches
20,21,Tyler Adams,us USA,MF,Leeds United,eng Premier League,23,1999,24,24,...,0.00,0.00,0.00,0.00,0.00,0.06,0.06,0.00,0.06,Matches
22,23,Tosin Adarabioyo,eng ENG,DF,Fulham,eng Premier League,24,1997,25,23,...,0.00,0.04,0.04,0.04,0.03,0.02,0.05,0.03,0.05,Matches

In [30]:
prem = df[(df['Comp'] == 'eng Premier League') & (df['Playing Time MP'] > 20)]

print(prem.head())

TypeError: '>' not supported between instances of 'str' and 'int'